[submodule "anolis/kabi-dw"]
	path = anolis/kabi-dw
	url = https://gitee.com/anolis/kabi-dw.git
[submodule "anolis/kabi-whitelist"]
	path = anolis/kabi-whitelist
	url = https://gitee.com/anolis/kabi-whitelist.git
[submodule "euler/kernel"]
	path = euler/kernel
	url = https://atomgit.com/src-openeuler/kernel.git
[submodule "euler/hulk_robot_test"]
	path = euler/hulk_robot_test
	url = https://gitcode.com/hulk-robot/hulk_robot_test.git
[submodule "anolis/tone-cli"]
	path = anolis/tone-cli
	url = https://gitee.com/anolis/tone-cli.git
	shallow = true
